body {
    /* background-color: #abcf5a; */
}
.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0,.05);
    }

.navbar-light .navbar-nav  .nav-link{
    color:rgba(0, 0, 0, .9);
}

.nav-link:hover{
    color: black;
}

#hero{
    /* background-image: url(/images/HeroGlud.svg); */
    background-color:rgba(0, 0, 0,.05);
    background-size: cover;
    padding-top: 90px;
    min-height: 400px;
}

.color-button-hero:hover{
    background-color: #abcf5a;
}

.text-justify{
    text-align: justify;
}

.adjust-image{ 
  max-height: 200px;    
}

.color-controller{
    background-color: black;
}

.set-position{
    position: fixed;
    width: 100%;
    z-index: 100;
}